
<div>

    <% posts.forEach (function (post){ %>
    <div>
        <div class="title"><%= post.title %></div>

        <% post.pics.forEach (function (pic){ %>
        <img width="500" height="500" class="table-thumb" src="<%- pic.url %>" />
        <% }) %>

      <div class="table-date" data-sort-value="<%= post.createdAt %>"><span class="bstooltip" title="<%= post.createdAt %>"><%= post.createdAt %></span></div>
    </div>
    <% }) %>

</div>
