
<div>

    <% posts.forEach (function (post){ %>
    <div>
        <div class="title"><%= post.title %></div>
        <img width="500" height="500" class="table-thumb" src="<%- posts.pics %>" />
      <div class="table-date" data-sort-value="<%= posts.createdAt %>"><span class="bstooltip" title="<%= posts.createdAt %>"><%= posts.createdAt %></span></div>
    </div>
    <% }) %>

</div>
